<div class="wrap">
	<div class="header"><span>Meeting Agenda</span></div>
	<div class="wrap-list">
		<ol class="list">
			<li>
				<input type="checkbox" id="check-1">
				<label for="check-1">Item #1</label>
			</li>
			<li>
				<input type="checkbox" id="check-2">
				<label for="check-2">Item #2</label>
			</li>
			<li>
				<input type="checkbox" id="check-3">
				<label for="check-3">Item #3</label>
			</li>
			<li>
				<input type="checkbox" id="check-4">
				<label for="check-4">Item #4</label>
			</li>
			<li>
				<input type="checkbox" id="check-5">
				<label for="check-5">Yolanda</label>
			</li>
		</ol>
	</div>
</div>